.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inputSection {
  display: flex;
  margin: 30px;
}

.input {
  border-radius: 40px;
  width: 350px;
  border: none;
  padding: 10px;
  font-weight: 500;
}

.profileSection {
  display: flex;
  width: 425px;
  height: 200px;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 25px;
  margin: 40px;
  gap: 5%;
}

.profileSection:hover {
  background-color: wheat;
}

.img {
  width: 135px;
  height: 145px;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cardSection {
  height: 88vh;
}

.typeDesign {
  background-color: green;
  border-radius: 15px;
  color: white;
  padding: 8px;
  width: fit-content;
  font-size: 14px;
}
