* {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, sans-serif;
  font-weight: 700;
}

.App {
  display: flex;
}
.Container {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #226f54;
  /* background-color: #232531; */
}
