.container {
  position: relative;
  margin: 30px;
  overflow-y: scroll;
  height: 80vh;
  top: 15vh;
}

.text {
  position: absolute;
  top: 0;
  font-size: 58px;
  color: darkorchid;
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  .container {
    height: 75vh;
  }
}
