.container {
  width: 500px;
  background-color: #47475c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 11;
  top: 30%;
  left: 40%;
  padding: 20px;
  gap: 25px;
  border-radius: 15px;
}

.container2 {
  width: 500px;
  height: 200px;
  background-color: #47475c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 11;
  top: 30%;
  left: 40%;
  padding: 20px;
  gap: 25px;
  border-radius: 15px;
}
.displayNone {
  display: none;
}

.button {
  border-radius: 40px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.14em;
  background-color: #3b3e68;
  color: white;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  transition: 300ms;
}
.input {
  border-radius: 40px;
  width: 350px;
  border: none;
  padding: 10px;
  font-weight: 500;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    width: 400px;
    position: absolute;
    left: 0;
  }
}
