.container {
  display: flex;
  flex-direction: column;
  height: 75vh;
overflow-y: scroll;
}

.inputSection {
  display: flex;
  margin: 30px;
}

.input {
  border-radius: 40px;
  width: 350px;
  border: none;
  padding: 10px;
  font-weight: 500;
}

.img {
  width: 135px;
  height: 145px;
  border-radius: 50%;
}

.cardSection {
  height: 88vh;
}

.songSection {
  overflow-y: scroll;
  height: 80vh;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.typeDesign {
  background-color: #5e5e96;
  border-radius: 15px;
  color: white;
  padding: 8px;
  width: fit-content;
  font-size: 14px;
}
