.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inputSection {
  display: flex;
  margin: 30px;
}

.input {
  border-radius: 40px;
  width: 300px;
  border: none;
  padding: 10px;
  font-weight: 500;
}

.profileSection {
  width: fit-content;
  padding: 25px;
  display: flex;
  background-color: red;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardSection {
  margin: 10px 5px 0 5px;
  height: 88vh;
}
