.header {
  height: 60px;
  background-color: #da2c38;
  /* background-color: #33333d; */
}

.btns {
  display: flex;
  height: 60px;
  gap: 10px;
  align-items: center;
}
.button {
  margin-right: 5px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  width: 100px;
  height: 30px;
}

.news {
  border: 2px solid white;
  overflow: hidden;
  margin-left: 10px;
  width: 100%;
}

.inner {
  color: rgb(106, 212, 106);
  white-space: nowrap;
}

.marqueeStyle {
  display: inline-block;
  padding-left: 100%;
  animation: news 30s linear infinite;
}

@keyframes news {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
