.container {
  display: flex;
  justify-content: center;
}

.innerContainer {
  padding: 50px 0 0 0;
  position: relative;
  /* border: 1px solid; */
  height: 90vh;
}

.img {
  width: 65vw;
}

.button {
  position: absolute;
  bottom: 60px;
  right: 28vw;
  border-radius: 40px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.14em;
  background-color: #3b3e68;
  color: white;
  width: 232px;
  height: 62px;
  transition: 300ms;
}
.button:hover {
  background-color: #555994;
  color: white;
}
