.container {
  display: flex;
  justify-content: center;
}

.innerContainer {
  padding: 20px;

  position: relative;
  /* border: 1px solid; */
}

.img {
  width: 75vw;
}

.name {
  position: absolute;
  top: 30vh;
  right: 30vw;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    color: #2a9d8f;
  }
  25% {
    color: #36cbba;
  }
  50% {
    color: #3cedd9;
  }
  100% {
    color: #2a9d8f;
  }
}
.button {
  position: absolute;
  bottom: 100px;
  right: 35vw;
  border-radius: 40px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #171717;
  width: 232px;
  height: 62px;
}
.button:hover {
  background-color: rgb(242, 221, 58);
}
