.container {
  display: flex;
  height: 93vh;
  overflow-y: scroll;
  flex-direction: column;
}
.part {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 300px;
  justify-content: center;
  text-align: center;
}

.font {
  font-size: 36px;
  font-weight: 400;
}
