.container {
  padding: 10px;
  display: flex;
  gap: 5vh;
  position: relative;
}

.card {
  gap: 2vh;
  width: 200px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  color: white;
  background-color: #47475c;
  flex-direction: column;
  transition: 200ms;
  margin: 10px;
  position: relative;
  top: 0;
}

.card:hover {
  background-color: #676786;
  transition: 200ms;
}

.albumName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 50px;
  margin-top: 10px;
}

.play {
  transition: 300ms;
  position: relative;
  top: -50px;
  opacity: 0;
  width: 50px;
  height: 50px;
  margin-left: 115px;
  border-radius: 50%;
  overflow: hidden;
}
.card:hover .play {
  opacity: 1;
  top: -55px;
}

.trash {
  position: absolute;
  bottom: 60px;
  right: 37px;
  cursor: pointer;
}
