.sidebar {
  background-color: #43291f;
  /* background-color: #202020; */
  height: 100vh;
  width: 300px;
  overflow-y: scroll;
}

.sections {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 3vh;
  padding: 25px;
}

.line {
  width: 80%;
  margin: 15px 10px 0 20px;
  border: 1px solid grey;
}

.playlistSection {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 3vh;
  padding: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.innerSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.img {
  width: 16px;
  height: 16px;
}
