.sidebar {
  background-color: #202020;
}

.sections {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 3vh;
  padding: 15px;
}

.innerSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile {
  display: flex;
  border: 1px solid;
  border-radius: 50px;
  margin: 0 20px 0 20px;
  font-size: 18px;
  padding: 5px;
  background-color: black;
  gap: 5px;
}

.button {
  margin-right: 10px;
  margin-right: 5px;
  border-radius: 40px;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #171717;
  width: 100px;
  height: 30px;
}
