.innerContainer {
  display: flex;
  height: 80vh;
  overflow-y: scroll;
  flex-direction: column;
  gap: 20px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 40px;
}

.leftSection {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 300;
}

.rightSection {
  display: flex;
  align-items: center;
}

.trackName {
  display: flex;
  flex-direction: column;
}
