.container {
  flex-direction: column;
  height: 100vh;
}

.innerContainer {
  display: flex;
  height: 93vh;
  overflow-y: scroll;
  flex-direction: column;
  gap: 20px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trackName {
  display: flex;
  flex-direction: column;
}
