.container {
  flex-direction: column;
  /* height: 100vh; */
}

.innerContainer {
  display: flex;
  height: 85vh;
  overflow-y: scroll;
  flex-direction: column;
  gap: 20px;
}

.cardContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 40px;
}

.leftSection {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 300;
}

.trackName {
  display: flex;
  flex-direction: column;
}

.rightSection {
  display: flex;
  align-items: center;
}
